@model Birth
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-6">
            <h2>Wynik</h2>
            <p>Cześć @ViewBag.Name, masz @ViewBag.Age lat(a).</p>
        </div>
    </div>
</div>