@model Dictionary<int, Post>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Lista Postów</h1>
<div>
    <table class="table">
        <tr>
            <th>
                Treść
            </th>
            <th>
                Autor
            </th>
            <th>
                Komentarz
            </th>
            <th>
                Akcje
            </th>
        </tr>
        @foreach (var item in @Model)
        {
            <tr>
                <td>
                    @item.Value.Content
                </td>
                <td>
                    @item.Value.Autor
                </td>
                <td>
                    @item.Value.Comment
                </td>
                <td>
                    <a class="btn btn-outline-primary"
                       asp-action="Update"
                       asp-controller="Post"
                       asp-route-id=@item.Value.Id>Edytuj</a>
                    <a class="btn btn-outline-info"
                       asp-action="Details"
                       asp-controller="Post"
                       asp-route-id=@item.Value.Id>Szczegóły</a>
                    <a class="btn btn-outline-danger"
                       asp-action="Delete"
                       asp-controller="Post"
                       asp-route-id=@item.Value.Id>Usuń</a>
                </td>
            </tr>
        }
    </table>
    <a class="btn btn-outline-success" asp-action="Create" asp-controller="Post">Dodaj nowy post</a>
</div>
